/*  your css code here. If applicable */
  #container {
	margin:20px;font-size:20px; background-color:#f8f8f8;}
container::after{content:'After Element';color:#f00;}
container::before{content:'Before Element';color:#f00;}